In [1]:
import pandas as pd
from sqlalchemy import create_engine

In [2]:
%cd ..

/Users/calebcastleberry/Documents/GitHub/OWL

In [6]:
import StatGathering.OWLSiteScrape.OWLScrapeTools as owltools

In [3]:
CONN_STR = 'postgresql://owl_admin:owl_pass@owl-db.cpmg7jkeyfnn.us-east-2.rds.amazonaws.com/owl_db'

In [4]:
engine = create_engine(CONN_STR)

In [5]:
conn = engine.connect()

## Hero Table

## Drop Table

In [74]:
HERO_TABLE_DROP = '''
DROP TABLE HERO;
'''

In [75]:
conn.execute(HERO_TABLE_DROP)

### Create Table

In [76]:
HERO_TABLE_Q = '''
CREATE TABLE Hero (
    id SERIAL PRIMARY KEY,
    Hero_Name VARCHAR(60) NOT NULL UNIQUE,
    Hero_Category VARCHAR(60) NOT NULL
);
'''

In [77]:
conn.execute(HERO_TABLE_Q)

### Fill in Table

In [78]:
hero_df = owltools.get_hero_info()
hero_df.head()

  Hero Category Hero Name
0       Offense  Doomfist
1       Offense     Genji
2       Offense    McCree
3       Offense    Pharah
4       Offense    Reaper

In [96]:
hero_df.iloc[22]['Hero Name'] = 'Lucio'
hero_df.iloc[12]['Hero Name'] = 'Torbjorn'

In [80]:
ADD_HERO_TEMPLATE = '''INSERT INTO hero (Hero_Name, Hero_Category) VALUES ('{}', '{}');
'''

In [81]:
for row in hero_df.iterrows():
    ADD_HERO_Q = ADD_HERO_TEMPLATE.format(row[1][1], row[1][0])
    conn.execute(ADD_HERO_Q)

## Map Table

### Drop Old Table

In [115]:
MAP_TABLE_DROP = '''
DROP TABLE map;
'''

In [116]:
conn.execute(MAP_TABLE_DROP)

### Create  Map Table

In [117]:
MAP_TABLE_CREATE = '''
CREATE TABLE map (
    id SERIAL PRIMARY KEY,
    Map_Name VARCHAR(60) NOT NULL UNIQUE,
    map_Category VARCHAR(60) NOT NULL
);
'''

In [118]:
conn.execute(MAP_TABLE_CREATE)

### Fill Table

In [108]:
map_df = owltools.get_map_info()
map_df.head(20)

      Map Category               Map Name
0          Assault       Temple of Anubis
1          Assault               Hanamura
2          Assault    Volskaya Industries
3          Assault   Horizon Lunar Colony
4           Escort  Watchpoint: Gibraltar
5           Escort                 Dorado
6           Escort               Route 66
7          Control          Lijiang Tower
8          Control                  Ilios
9          Control                  Nepal
10         Control                  Oasis
11  Assault/Escort             King's Row
12  Assault/Escort                Numbani
13  Assault/Escort              Hollywood
14  Assault/Escort            Eichenwalde
15           Arena           Black Forest
16           Arena   Ecopoint: Antarctica
17           Arena             Necropolis
18           Arena               Castillo
19      Deathmatch       Château Guillard

In [120]:
map_df['Map Name'] = map_df['Map Name'].str.replace("'", '')
map_df.iloc[19]['Map Name'] = 'Chateau Guillard'
map_df.head(25)

      Map Category               Map Name
0          Assault       Temple of Anubis
1          Assault               Hanamura
2          Assault    Volskaya Industries
3          Assault   Horizon Lunar Colony
4           Escort  Watchpoint: Gibraltar
5           Escort                 Dorado
6           Escort               Route 66
7          Control          Lijiang Tower
8          Control                  Ilios
9          Control                  Nepal
10         Control                  Oasis
11  Assault/Escort              Kings Row
12  Assault/Escort                Numbani
13  Assault/Escort              Hollywood
14  Assault/Escort            Eichenwalde
15           Arena           Black Forest
16           Arena   Ecopoint: Antarctica
17           Arena             Necropolis
18           Arena               Castillo
19      Deathmatch       Chateau Guillard
20  Assault/Escort         Blizzard World
21          Escort             Junkertown
22         Control              Ayutthaya

In [121]:
ADD_MAP_TEMPLATE = '''INSERT INTO map (map_Name, map_Category) VALUES ('{}', '{}');
'''

In [122]:
for row in map_df.iterrows():
    ADD_MAP_Q = ADD_MAP_TEMPLATE.format(row[1][1], row[1][0])
    conn.execute(ADD_MAP_Q)

IntegrityError: (psycopg2.IntegrityError) duplicate key value violates unique constraint "map_map_name_key"
DETAIL:  Key (map_name)=(Temple of Anubis) already exists.
 [SQL: "INSERT INTO map (map_Name, map_Category) VALUES ('Temple of Anubis', 'Assault');\n"]

## Team Table

### Drop Old Table

### Create Team Table

In [126]:
TEAM_TABLE_CREATE = '''
CREATE TABLE team (
    id SERIAL PRIMARY KEY,
    Team_Name VARCHAR(60) NOT NULL UNIQUE,
    team_abbr VARCHAR(60) UNIQUE,
    location VARCHAR(60) NOT NULL,
    division VARCHAR(60)
);
'''

In [127]:
conn.execute(TEAM_TABLE_CREATE)

### Fill Table

In [128]:
team_df = owltools.get_team_info()
team_df.head()

  Team Abbr Team Location        Team Name
0       BOS    Boston, MA  Boston Uprising
1       DAL    Dallas, TX      Dallas Fuel
2       FLA       Florida   Florida Mayhem
3       HOU   Houston, TX  Houston Outlaws
4       LDN        London  London Spitfire

In [129]:
ADD_TEAM_TEMPLATE = '''INSERT INTO team (team_Name, team_abbr, location) VALUES ('{}', '{}', '{}');
'''

In [133]:
for row in team_df.iterrows():
    ADD_TEAM_Q = ADD_TEAM_TEMPLATE.format(row[1][2], row[1][0], row[1][1])
    #print(ADD_TEAM_Q)
    conn.execute(ADD_TEAM_Q)

## Player Table

### Drop Old Table

In [140]:
PLAYER_TABLE_DROP = '''
DROP TABLE player;
'''

In [141]:
conn.execute(PLAYER_TABLE_DROP)

### Create Table

In [142]:
PLAYER_TABLE_CREATE = '''
CREATE TABLE player (
    id SERIAL PRIMARY KEY,
    tag VARCHAR(60) NOT NULL UNIQUE,
    first_name VARCHAR(60) NOT NULL,
    last_name VARCHAR(60) NOT NULL,
    team_name VARCHAR(60) NOT NULL,
    team_id INT,
    team_abbr VARCHAR(60),
    role VARCHAR(60),
    country VARCHAR(60),
    hometown VARCHAR(60)
);
'''

In [143]:
conn.execute(PLAYER_TABLE_CREATE)

### Fill Table

In [139]:
player_df = owltools.get_player_info()
player_df.head()

,First Name,Home City,Home Country,Last Name,Role,Tag,Team Abbr,Team Name
0,Jonathan,"Hemet, CA",US,Sanchez,Offense,DreamKazper,BOS,Boston Uprising
1,Matt,"Laporte, IN",US,Iorio,Tank,Coolmatt,HOU,Houston Outlaws
2,YoungJin,Gyeongju,KR,Noh,Tank,Gamsu,BOS,Boston Uprising
3,Lucas,Barrie,CA,Meissner,Tank,NotE,BOS,Boston Uprising
4,SeHyun,Changwon,KR,Park,Support,Neko,BOS,Boston Uprising

In [150]:
ADD_PLAYER_TEMPLATE = '''
INSERT INTO player 
(first_name, hometown, country, last_name, role, tag, team_abbr, team_name) 
VALUES 
('{}', '{}', '{}', '{}', '{}', '{}', '{}', '{}');
'''

In [151]:
for row in player_df.iterrows():
    ADD_PLAYER_Q = ADD_PLAYER_TEMPLATE.format(row[1][0], row[1][1], row[1][2], row[1][3],
                                             row[1][4], row[1][5], row[1][6], row[1][7])
    #print(ADD_PLAYER_Q)
    conn.execute(ADD_PLAYER_Q)