# SQLite DB Test Notebook

In [1]:
import DBModels
import CreateDB

In [2]:
from sqlalchemy import create_engine

In [26]:
engine = create_engine('sqlite:///OWL_Test2.db')

In [4]:
DBModels.initialize_db(engine)

In [27]:
conn = engine.connect()

In [6]:
table_list = conn.execute("PRAGMA table_info(hero)")

In [7]:
table_list.fetchall()

[(0, 'id', 'INTEGER', 1, None, 1),
 (1, 'name', 'VARCHAR', 0, None, 0),
 (2, 'hero_type', 'VARCHAR', 0, None, 0)]

In [8]:
conn.execute('SELECT * FROM map').fetchall()

[]

In [9]:
cd ..

C:\Users\cbcastleberry\Documents\GitHub\OWL

In [10]:
from StatGathering.OWLSiteScrape import OWLScrapeTools

In [11]:
import pandas as pd

In [12]:
hero_df = OWLScrapeTools.get_hero_info()

In [13]:
hero_df.head()

  Hero Category Hero Name
0       Offense  Doomfist
1       Offense     Genji
2       Offense    McCree
3       Offense    Pharah
4       Offense    Reaper

In [20]:
for index, row in hero_df.iterrows():
    insert_hero = "INSERT INTO hero (name, hero_type) VALUES ('{}', '{}');"
    insert_hero = insert_hero.format(row['Hero Name'], row['Hero Category'])
    print(insert_hero)
    conn.execute(insert_hero)

INSERT INTO hero (name, hero_type) VALUES ('Doomfist', 'Offense');
INSERT INTO hero (name, hero_type) VALUES ('Genji', 'Offense');
INSERT INTO hero (name, hero_type) VALUES ('McCree', 'Offense');
INSERT INTO hero (name, hero_type) VALUES ('Pharah', 'Offense');
INSERT INTO hero (name, hero_type) VALUES ('Reaper', 'Offense');
INSERT INTO hero (name, hero_type) VALUES ('Soldier: 76', 'Offense');
INSERT INTO hero (name, hero_type) VALUES ('Sombra', 'Offense');
INSERT INTO hero (name, hero_type) VALUES ('Tracer', 'Offense');
INSERT INTO hero (name, hero_type) VALUES ('Bastion', 'Defense');
INSERT INTO hero (name, hero_type) VALUES ('Hanzo', 'Defense');
INSERT INTO hero (name, hero_type) VALUES ('Junkrat', 'Defense');
INSERT INTO hero (name, hero_type) VALUES ('Mei', 'Defense');
INSERT INTO hero (name, hero_type) VALUES ('Torbjörn', 'Defense');
INSERT INTO hero (name, hero_type) VALUES ('Widowmaker', 'Defense');
INSERT INTO hero (name, hero_type) VALUES ('D.Va', 'Tank');
INSERT INTO hero (name, hero_type) VALUES ('Orisa', 'Tank');
INSERT INTO hero (name, hero_type) VALUES ('Reinhardt', 'Tank');
INSERT INTO hero (name, hero_type) VALUES ('Roadhog', 'Tank');
INSERT INTO hero (name, hero_type) VALUES ('Winston', 'Tank');
INSERT INTO hero (name, hero_type) VALUES ('Zarya', 'Tank');
INSERT INTO hero (name, hero_type) VALUES ('Ana', 'Support');
INSERT INTO hero (name, hero_type) VALUES ('Lúcio', 'Support');
INSERT INTO hero (name, hero_type) VALUES ('Mercy', 'Support');
INSERT INTO hero (name, hero_type) VALUES ('Moira', 'Support');
INSERT INTO hero (name, hero_type) VALUES ('Symmetra', 'Support');
INSERT INTO hero (name, hero_type) VALUES ('Zenyatta', 'Support');

In [21]:
conn.execute('SELECT * FROM hero').fetchall()

[(1, 'Doomfist', 'Offense'),
 (2, 'Genji', 'Offense'),
 (3, 'McCree', 'Offense'),
 (4, 'Pharah', 'Offense'),
 (5, 'Reaper', 'Offense'),
 (6, 'Soldier: 76', 'Offense'),
 (7, 'Sombra', 'Offense'),
 (8, 'Tracer', 'Offense'),
 (9, 'Bastion', 'Defense'),
 (10, 'Hanzo', 'Defense'),
 (11, 'Junkrat', 'Defense'),
 (12, 'Mei', 'Defense'),
 (13, 'Torbjörn', 'Defense'),
 (14, 'Widowmaker', 'Defense'),
 (15, 'D.Va', 'Tank'),
 (16, 'Orisa', 'Tank'),
 (17, 'Reinhardt', 'Tank'),
 (18, 'Roadhog', 'Tank'),
 (19, 'Winston', 'Tank'),
 (20, 'Zarya', 'Tank'),
 (21, 'Ana', 'Support'),
 (22, 'Lúcio', 'Support'),
 (23, 'Mercy', 'Support'),
 (24, 'Moira', 'Support'),
 (25, 'Symmetra', 'Support'),
 (26, 'Zenyatta', 'Support')]

In [28]:
hero_df.to_sql('Hero2', conn)

In [29]:
conn.execute('SELECT * FROM Hero2').fetchall()

[(0, 'Offense', 'Doomfist'),
 (1, 'Offense', 'Genji'),
 (2, 'Offense', 'McCree'),
 (3, 'Offense', 'Pharah'),
 (4, 'Offense', 'Reaper'),
 (5, 'Offense', 'Soldier: 76'),
 (6, 'Offense', 'Sombra'),
 (7, 'Offense', 'Tracer'),
 (8, 'Defense', 'Bastion'),
 (9, 'Defense', 'Hanzo'),
 (10, 'Defense', 'Junkrat'),
 (11, 'Defense', 'Mei'),
 (12, 'Defense', 'Torbjörn'),
 (13, 'Defense', 'Widowmaker'),
 (14, 'Tank', 'D.Va'),
 (15, 'Tank', 'Orisa'),
 (16, 'Tank', 'Reinhardt'),
 (17, 'Tank', 'Roadhog'),
 (18, 'Tank', 'Winston'),
 (19, 'Tank', 'Zarya'),
 (20, 'Support', 'Ana'),
 (21, 'Support', 'Lúcio'),
 (22, 'Support', 'Mercy'),
 (23, 'Support', 'Moira'),
 (24, 'Support', 'Symmetra'),
 (25, 'Support', 'Zenyatta')]