# SQLite DB Test Notebook (Take Two)

In [1]:
from sqlalchemy import create_engine

In [2]:
engine = create_engine('sqlite:///OWL_Test.db')

In [3]:
conn = engine.connect()

In [7]:
cd OWL/

C:\Users\cbcastleberry\Documents\GitHub\OWL

In [6]:
cd ..

C:\Users\cbcastleberry\Documents\GitHub

In [8]:
from StatGathering.OWLSiteScrape import OWLScrapeTools
import pandas as pd

In [9]:
hero_df = OWLScrapeTools.get_hero_info()

In [10]:
hero_df.head()

  Hero Category Hero Name
0       Offense  Doomfist
1       Offense     Genji
2       Offense    McCree
3       Offense    Pharah
4       Offense    Reaper

In [11]:
hero_df.to_sql('Hero', conn)

ValueError: Table 'Hero' already exists.

In [12]:
conn.execute("SELECT name FROM sqlite_master WHERE type='table';").fetchall()

[('map',),
 ('hero',),
 ('team',),
 ('player',),
 ('match_results',),
 ('match_player_summary',),
 ('match_player_detail',),
 ('round_results',),
 ('round_player_summary',),
 ('round_player_detail',),
 ('Hero2',)]

In [13]:
conn.execute("SELECT * FROM Hero").fetchall()

[(1, 'Doomfist', 'Offense'),
 (2, 'Genji', 'Offense'),
 (3, 'McCree', 'Offense'),
 (4, 'Pharah', 'Offense'),
 (5, 'Reaper', 'Offense'),
 (6, 'Soldier: 76', 'Offense'),
 (7, 'Sombra', 'Offense'),
 (8, 'Tracer', 'Offense'),
 (9, 'Bastion', 'Defense'),
 (10, 'Hanzo', 'Defense'),
 (11, 'Junkrat', 'Defense'),
 (12, 'Mei', 'Defense'),
 (13, 'Torbjörn', 'Defense'),
 (14, 'Widowmaker', 'Defense'),
 (15, 'D.Va', 'Tank'),
 (16, 'Orisa', 'Tank'),
 (17, 'Reinhardt', 'Tank'),
 (18, 'Roadhog', 'Tank'),
 (19, 'Winston', 'Tank'),
 (20, 'Zarya', 'Tank'),
 (21, 'Ana', 'Support'),
 (22, 'Lúcio', 'Support'),
 (23, 'Mercy', 'Support'),
 (24, 'Moira', 'Support'),
 (25, 'Symmetra', 'Support'),
 (26, 'Zenyatta', 'Support')]