# Imports

In [37]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
% matplotlib inline
from datetime import datetime
import seaborn as sns

# Load match results

In [2]:
%pwd

'/Users/calebcastleberry/Documents/GitHub/OWL/ELO Analysis'

In [3]:
%cd '/Users/calebcastleberry/Documents/Github/OWL/Data'

/Users/calebcastleberry/Documents/GitHub/OWL/Data

In [4]:
map_results = pd.read_csv('Match Summary Data.csv', index_col=0)

In [5]:
map_results = map_results.sort_values(by=['Date', 'Map Number'],ascending=True).reset_index(drop=True)
map_results.head(12)

,Date,Map Name,Map Number,Map Type,Match Id,Team A,Team B,Winner
0,2018-01-11,Dorado,1,Escort,2381,LDN,FLA,Team B
1,2018-01-11,Junkertown,1,Escort,2380,DAL,SEO,Team A
2,2018-01-11,Dorado,1,Escort,2379,SHD,GLA,Team B
3,2018-01-11,Dorado,1,Escort,2375,SFS,VAL,Team B
4,2018-01-11,Temple of Anubis,2,Assault,2381,LDN,FLA,Team A
5,2018-01-11,Temple of Anubis,2,Assault,2380,DAL,SEO,Team B
6,2018-01-11,Temple of Anubis,2,Assault,2379,SHD,GLA,Team B
7,2018-01-11,Temple of Anubis,2,Assault,2375,SFS,VAL,Team B
8,2018-01-11,Oasis,3,KOTH,2381,LDN,FLA,Team A
9,2018-01-11,Ilios,3,KOTH,2380,DAL,SEO,Team B
10,2018-01-11,Ilios,3,KOTH,2379,SHD,GLA,Team B
11,2018-01-11,Ilios,3,KOTH,2375,SFS,VAL,Team B

In [6]:
map_results[(map_results["Team A"]=='GLA') | (map_results["Team B"]=='GLA')]

,Date,Map Name,Map Number,Map Type,Match Id,Team A,Team B,Winner
2,2018-01-11,Dorado,1,Escort,2379,SHD,GLA,Team B
6,2018-01-11,Temple of Anubis,2,Assault,2379,SHD,GLA,Team B
10,2018-01-11,Ilios,3,KOTH,2379,SHD,GLA,Team B
14,2018-01-11,Eichenwalde,4,Hybrid,2379,SHD,GLA,Team B
25,2018-01-13,Junkertown,1,Escort,2404,SEO,GLA,Team A
31,2018-01-13,Horizon Lunar Colony,2,Assault,2404,SEO,GLA,Team A
37,2018-01-13,Ilios,3,KOTH,2404,SEO,GLA,Team A
43,2018-01-13,Numbani,4,Hybrid,2404,SEO,GLA,Team A
65,2018-01-19,Junkertown,1,Escort,2410,PHI,GLA,Team A
67,2018-01-19,Temple of Anubis,2,Assault,2410,PHI,GLA,Team A
69,2018-01-19,Ilios,3,KOTH,2410,PHI,GLA,Team B
71,2018-01-19,Numbani,4,Hybrid,2410,PHI,GLA,Team B
73,2018-01-19,Lijiang Tower,5,KOTH,2410,PHI,GLA,Team B
75,2018-01-20,Dorado,1,Escort,2415,GLA,NYE,Team B
81,2018-01-20,Horizon Lunar Colony,2,Assault,2415,GLA,NYE,Team B
87,2018-01-20,Oasis,3,KOTH,2415,GLA,NYE,Team B
93,2018-01-20,Eichenwalde,4,Hybrid,2415,GLA,NYE,Team B
101,2018-01-25,Eichenwalde,1,Hybrid,2419,GLA,VAL,Team A
105,2018-01-25,Horizon Lunar Colony,2,Assault,2419,GLA,VAL,Team A
109,2018-01-25,Ilios,3,KOTH,2419,GLA,VAL,Team B
113,2018-01-25,Junkertown,4,Escort,2419,GLA,VAL,Team B
117,2018-01-25,Lijiang Tower,5,KOTH,2419,GLA,VAL,Team B
127,2018-01-27,Numbani,1,Hybrid,2428,GLA,HOU,Team B
133,2018-01-27,Temple of Anubis,2,Assault,2428,GLA,HOU,Team B
139,2018-01-27,Ilios,3,KOTH,2428,GLA,HOU,Team B
145,2018-01-27,Dorado,4,Escort,2428,GLA,HOU,Team B

# Create ELO Dataframe

In [7]:
team_list = list(map_results["Team A"].unique())
team_elo_start = []

In [8]:
for team in team_list:
    team_elo = {
        "date": datetime.strptime('2018-1-1', '%Y-%m-%d'),
        "team": team, 
        "elo": 1000,
        "map number": 0
    }
    team_elo_start.append(team_elo)

In [9]:
team_elo_start

[{'date': datetime.datetime(2018, 1, 1, 0, 0),
  'elo': 1000,
  'map number': 0,
  'team': 'LDN'},
 {'date': datetime.datetime(2018, 1, 1, 0, 0),
  'elo': 1000,
  'map number': 0,
  'team': 'DAL'},
 {'date': datetime.datetime(2018, 1, 1, 0, 0),
  'elo': 1000,
  'map number': 0,
  'team': 'SHD'},
 {'date': datetime.datetime(2018, 1, 1, 0, 0),
  'elo': 1000,
  'map number': 0,
  'team': 'SFS'},
 {'date': datetime.datetime(2018, 1, 1, 0, 0),
  'elo': 1000,
  'map number': 0,
  'team': 'BOS'},
 {'date': datetime.datetime(2018, 1, 1, 0, 0),
  'elo': 1000,
  'map number': 0,
  'team': 'PHI'},
 {'date': datetime.datetime(2018, 1, 1, 0, 0),
  'elo': 1000,
  'map number': 0,
  'team': 'SEO'},
 {'date': datetime.datetime(2018, 1, 1, 0, 0),
  'elo': 1000,
  'map number': 0,
  'team': 'NYE'},
 {'date': datetime.datetime(2018, 1, 1, 0, 0),
  'elo': 1000,
  'map number': 0,
  'team': 'FLA'},
 {'date': datetime.datetime(2018, 1, 1, 0, 0),
  'elo': 1000,
  'map number': 0,
  'team': 'VAL'},
 {'date': datetime.datetime(2018, 1, 1, 0, 0),
  'elo': 1000,
  'map number': 0,
  'team': 'HOU'},
 {'date': datetime.datetime(2018, 1, 1, 0, 0),
  'elo': 1000,
  'map number': 0,
  'team': 'GLA'}]

In [10]:
elo_df = pd.DataFrame(team_elo_start)

In [11]:
elo_df.head(12)

         date   elo  map number team
0  2018-01-01  1000           0  LDN
1  2018-01-01  1000           0  DAL
2  2018-01-01  1000           0  SHD
3  2018-01-01  1000           0  SFS
4  2018-01-01  1000           0  BOS
5  2018-01-01  1000           0  PHI
6  2018-01-01  1000           0  SEO
7  2018-01-01  1000           0  NYE
8  2018-01-01  1000           0  FLA
9  2018-01-01  1000           0  VAL
10 2018-01-01  1000           0  HOU
11 2018-01-01  1000           0  GLA

# Elo Function

In [12]:
test_elo_a = 1200
test_elo_b = 1100

In [13]:
def elo_probabilities(elo_a, elo_b):
    q_a = 10**(elo_a/400)
    q_b = 10**(elo_b/400)
    e_a = q_a / (q_a + q_b)
    e_b = q_b / (q_a + q_b)
    return e_a, e_b

def update_elo(elo_a, elo_b, a_win, K=20):
    q_a = 10**(elo_a/400)
    q_b = 10**(elo_b/400)
    e_a = q_a / (q_a + q_b)
    e_b = q_b / (q_a + q_b)
    
    
    r_a = elo_a + K * (a_win - e_a)
    r_b = elo_b + K * ((1-a_win) - e_b)
    return r_a, r_b

In [14]:
elo_probabilities(test_elo_a, test_elo_b)

(0.6400649998028851, 0.35993500019711494)

In [15]:
update_elo(test_elo_a, test_elo_b, 1)

(1207.1987000039423, 1092.8012999960577)

In [16]:
update_elo(test_elo_a, test_elo_b, 0)

(1187.1987000039423, 1112.8012999960577)

## Get current elo

In [17]:
def get_current_elo(df, team, date):
    df = df[(df["team"]== team) & (df['date'] <= date) ]
    df = df.sort_values(by=['date', 'map number'], ascending=False).reset_index(drop=True)
    elo = df.iloc[0]['elo']
    return elo

def get_current_map_number(df, team, date):
    df = df[(df["team"]== team) & (df['date'] <= date) ]
    df = df.sort_values(by='map number', ascending=False).reset_index(drop=True)
    elo = df.iloc[0]['map number']
    return elo

In [18]:
print(get_current_elo(elo_df, 'SEO', datetime.strptime('2018-1-2', '%Y-%m-%d')))
get_current_map_number(elo_df, "SEO", datetime.strptime('2018-1-2', '%Y-%m-%d'))

1000

0

# Loop through map result frame and update elo

In [19]:
current_map =  map_results.iloc[0]
current_map

Date          2018-01-11
Map Name          Dorado
Map Number             1
Map Type          Escort
Match Id            2381
Team A               LDN
Team B               FLA
Winner            Team B
Name: 0, dtype: object

In [20]:
map_results.shape[0]

154

In [21]:
for i in range(map_results.shape[0]):
    current_map = map_results.iloc[i]
    map_name = current_map['Map Name']
    team_a = current_map['Team A']
    team_b = current_map['Team B']
    match_date = datetime.strptime(current_map['Date'], '%Y-%m-%d')
    winner = current_map['Winner']
    if winner=='Team A':
        a_win = 1
    elif winner=='Team B':
        a_win = 0
    else:
        a_win = 0.5
        
    a_elo = get_current_elo(elo_df, team_a, match_date)
    b_elo = get_current_elo(elo_df, team_b, match_date)
    a_map = get_current_map_number(elo_df, team_a, match_date) + 1
    b_map = get_current_map_number(elo_df, team_b, match_date) + 1
    new_a_row = {
        'date': match_date,
        'team': team_a,
        'map number': a_map
    }
    new_b_row = {
        'date': match_date,
        'team': team_b,
        'map number': b_map
    }
    new_a_row['elo'], new_b_row['elo'] = update_elo(a_elo, b_elo, a_win=a_win, K=30)
    temp_df = pd.DataFrame([new_a_row, new_b_row])
    #print(temp_df.head())
    elo_df = pd.concat([elo_df, temp_df])
    #print(elo_df.tail())
    print(map_name, i, team_a, a_elo, team_b, b_elo, a_win, match_date)
    print(new_a_row)
    print(new_b_row)

Dorado 0 LDN 1000 FLA 1000 0 2018-01-11 00:00:00
{'date': datetime.datetime(2018, 1, 11, 0, 0), 'team': 'LDN', 'map number': 1, 'elo': 985.0}
{'date': datetime.datetime(2018, 1, 11, 0, 0), 'team': 'FLA', 'map number': 1, 'elo': 1015.0}
Junkertown 1 DAL 1000.0 SEO 1000.0 1 2018-01-11 00:00:00
{'date': datetime.datetime(2018, 1, 11, 0, 0), 'team': 'DAL', 'map number': 1, 'elo': 1015.0}
{'date': datetime.datetime(2018, 1, 11, 0, 0), 'team': 'SEO', 'map number': 1, 'elo': 985.0}
Dorado 2 SHD 1000.0 GLA 1000.0 0 2018-01-11 00:00:00
{'date': datetime.datetime(2018, 1, 11, 0, 0), 'team': 'SHD', 'map number': 1, 'elo': 985.0}
{'date': datetime.datetime(2018, 1, 11, 0, 0), 'team': 'GLA', 'map number': 1, 'elo': 1015.0}
Dorado 3 SFS 1000.0 VAL 1000.0 0 2018-01-11 00:00:00
{'date': datetime.datetime(2018, 1, 11, 0, 0), 'team': 'SFS', 'map number': 1, 'elo': 985.0}
{'date': datetime.datetime(2018, 1, 11, 0, 0), 'team': 'VAL', 'map number': 1, 'elo': 1015.0}
Temple of Anubis 4 LDN 985.0 FLA 1015.0 1 2018-01-11 00:00:00
{'date': datetime.datetime(2018, 1, 11, 0, 0), 'team': 'LDN', 'map number': 2, 'elo': 1001.2919947606664}
{'date': datetime.datetime(2018, 1, 11, 0, 0), 'team': 'FLA', 'map number': 2, 'elo': 998.7080052393336}
Temple of Anubis 5 DAL 1015.0 SEO 985.0 0 2018-01-11 00:00:00
{'date': datetime.datetime(2018, 1, 11, 0, 0), 'team': 'DAL', 'map number': 2, 'elo': 998.7080052393336}
{'date': datetime.datetime(2018, 1, 11, 0, 0), 'team': 'SEO', 'map number': 2, 'elo': 1001.2919947606664}
Temple of Anubis 6 SHD 985.0 GLA 1015.0 0 2018-01-11 00:00:00
{'date': datetime.datetime(2018, 1, 11, 0, 0), 'team': 'SHD', 'map number': 2, 'elo': 971.2919947606664}
{'date': datetime.datetime(2018, 1, 11, 0, 0), 'team': 'GLA', 'map number': 2, 'elo': 1028.7080052393337}
Temple of Anubis 7 SFS 985.0 VAL 1015.0 0 2018-01-11 00:00:00
{'date': datetime.datetime(2018, 1, 11, 0, 0), 'team': 'SFS', 'map number': 2, 'elo': 971.2919947606664}
{'date': datetime.datetime(2018, 1, 11, 0, 0), 'team': 'VAL', 'map number': 2, 'elo': 1028.7080052393337}
Oasis 8 LDN 1001.29199476 FLA 998.708005239 1 2018-01-11 00:00:00
{'date': datetime.datetime(2018, 1, 11, 0, 0), 'team': 'LDN', 'map number': 3, 'elo': 1016.1804370221951}
{'date': datetime.datetime(2018, 1, 11, 0, 0), 'team': 'FLA', 'map number': 3, 'elo': 983.81956297780494}
Ilios 9 DAL 998.708005239 SEO 1001.29199476 0 2018-01-11 00:00:00
{'date': datetime.datetime(2018, 1, 11, 0, 0), 'team': 'DAL', 'map number': 3, 'elo': 983.81956297780494}
{'date': datetime.datetime(2018, 1, 11, 0, 0), 'team': 'SEO', 'map number': 3, 'elo': 1016.1804370221951}
Ilios 10 SHD 971.291994761 GLA 1028.70800524 0 2018-01-11 00:00:00
{'date': datetime.datetime(2018, 1, 11, 0, 0), 'team': 'SHD', 'map number': 3, 'elo': 958.74852144206511}
{'date': datetime.datetime(2018, 1, 11, 0, 0), 'team': 'GLA', 'map number': 3, 'elo': 1041.2514785579349}
Ilios 11 SFS 971.291994761 VAL 1028.70800524 0 2018-01-11 00:00:00
{'date': datetime.datetime(2018, 1, 11, 0, 0), 'team': 'SFS', 'map number': 3, 'elo': 958.74852144206511}
{'date': datetime.datetime(2018, 1, 11, 0, 0), 'team': 'VAL', 'map number': 3, 'elo': 1041.2514785579349}
Numbani 12 LDN 1016.18043702 FLA 983.819562978 1 2018-01-11 00:00:00
{'date': datetime.datetime(2018, 1, 11, 0, 0), 'team': 'LDN', 'map number': 4, 'elo': 1029.7873320564499}
{'date': datetime.datetime(2018, 1, 11, 0, 0), 'team': 'FLA', 'map number': 4, 'elo': 970.21266794354995}
Numbani 13 DAL 983.819562978 SEO 1016.18043702 0.5 2018-01-11 00:00:00
{'date': datetime.datetime(2018, 1, 11, 0, 0), 'team': 'DAL', 'map number': 4, 'elo': 985.21266794354995}
{'date': datetime.datetime(2018, 1, 11, 0, 0), 'team': 'SEO', 'map number': 4, 'elo': 1014.7873320564501}
Eichenwalde 14 SHD 958.748521442 GLA 1041.25147856 0 2018-01-11 00:00:00
{'date': datetime.datetime(2018, 1, 11, 0, 0), 'team': 'SHD', 'map number': 4, 'elo': 947.24498604950259}
{'date': datetime.datetime(2018, 1, 11, 0, 0), 'team': 'GLA', 'map number': 4, 'elo': 1052.7550139504974}
Numbani 15 SFS 958.748521442 VAL 1041.25147856 0 2018-01-11 00:00:00
{'date': datetime.datetime(2018, 1, 11, 0, 0), 'team': 'SFS', 'map number': 4, 'elo': 947.24498604950259}
{'date': datetime.datetime(2018, 1, 11, 0, 0), 'team': 'VAL', 'map number': 4, 'elo': 1052.7550139504974}
Junkertown 16 BOS 1000.0 NYE 1000.0 0 2018-01-12 00:00:00
{'date': datetime.datetime(2018, 1, 12, 0, 0), 'team': 'BOS', 'map number': 1, 'elo': 985.0}
{'date': datetime.datetime(2018, 1, 12, 0, 0), 'team': 'NYE', 'map number': 1, 'elo': 1015.0}
Dorado 17 PHI 1000.0 HOU 1000.0 1 2018-01-12 00:00:00
{'date': datetime.datetime(2018, 1, 12, 0, 0), 'team': 'PHI', 'map number': 1, 'elo': 1015.0}
{'date': datetime.datetime(2018, 1, 12, 0, 0), 'team': 'HOU', 'map number': 1, 'elo': 985.0}
Horizon Lunar Colony 18 BOS 985.0 NYE 1015.0 1 2018-01-12 00:00:00
{'date': datetime.datetime(2018, 1, 12, 0, 0), 'team': 'BOS', 'map number': 2, 'elo': 1001.2919947606664}
{'date': datetime.datetime(2018, 1, 12, 0, 0), 'team': 'NYE', 'map number': 2, 'elo': 998.7080052393336}
Horizon Lunar Colony 19 PHI 1015.0 HOU 985.0 0 2018-01-12 00:00:00
{'date': datetime.datetime(2018, 1, 12, 0, 0), 'team': 'PHI', 'map number': 2, 'elo': 998.7080052393336}
{'date': datetime.datetime(2018, 1, 12, 0, 0), 'team': 'HOU', 'map number': 2, 'elo': 1001.2919947606664}
Ilios 20 BOS 1001.29199476 NYE 998.708005239 0 2018-01-12 00:00:00
{'date': datetime.datetime(2018, 1, 12, 0, 0), 'team': 'BOS', 'map number': 3, 'elo': 986.18043702219506}
{'date': datetime.datetime(2018, 1, 12, 0, 0), 'team': 'NYE', 'map number': 3, 'elo': 1013.8195629778049}
Oasis 21 PHI 998.708005239 HOU 1001.29199476 1 2018-01-12 00:00:00
{'date': datetime.datetime(2018, 1, 12, 0, 0), 'team': 'PHI', 'map number': 3, 'elo': 1013.8195629778049}
{'date': datetime.datetime(2018, 1, 12, 0, 0), 'team': 'HOU', 'map number': 3, 'elo': 986.18043702219506}
Numbani 22 BOS 986.180437022 NYE 1013.81956298 0 2018-01-12 00:00:00
{'date': datetime.datetime(2018, 1, 12, 0, 0), 'team': 'BOS', 'map number': 4, 'elo': 972.37120315355207}
{'date': datetime.datetime(2018, 1, 12, 0, 0), 'team': 'NYE', 'map number': 4, 'elo': 1027.628796846448}
Eichenwalde 23 PHI 1013.81956298 HOU 986.180437022 0 2018-01-12 00:00:00
{'date': datetime.datetime(2018, 1, 12, 0, 0), 'team': 'PHI', 'map number': 4, 'elo': 997.62879684644793}
{'date': datetime.datetime(2018, 1, 12, 0, 0), 'team': 'HOU', 'map number': 4, 'elo': 1002.3712031535521}
Lijiang Tower 24 PHI 997.628796846 HOU 1002.37120315 1 2018-01-12 00:00:00
{'date': datetime.datetime(2018, 1, 12, 0, 0), 'team': 'PHI', 'map number': 5, 'elo': 1012.8335302703729}
{'date': datetime.datetime(2018, 1, 12, 0, 0), 'team': 'HOU', 'map number': 5, 'elo': 987.16646972962712}
Junkertown 25 SEO 1014.78733206 GLA 1052.75501395 1 2018-01-13 00:00:00
{'date': datetime.datetime(2018, 1, 13, 0, 0), 'team': 'SEO', 'map number': 5, 'elo': 1031.4200345370921}
{'date': datetime.datetime(2018, 1, 13, 0, 0), 'team': 'GLA', 'map number': 5, 'elo': 1036.1223114698555}
Junkertown 26 NYE 1027.62879685 HOU 987.16646973 0 2018-01-13 00:00:00
{'date': datetime.datetime(2018, 1, 13, 0, 0), 'team': 'NYE', 'map number': 5, 'elo': 1010.8897528309211}
{'date': datetime.datetime(2018, 1, 13, 0, 0), 'team': 'HOU', 'map number': 6, 'elo': 1003.9055137451541}
Junkertown 27 LDN 1029.78733206 PHI 1012.83353027 1 2018-01-13 00:00:00
{'date': datetime.datetime(2018, 1, 13, 0, 0), 'team': 'LDN', 'map number': 5, 'elo': 1044.0559580053928}
{'date': datetime.datetime(2018, 1, 13, 0, 0), 'team': 'PHI', 'map number': 6, 'elo': 998.56490432143005}
Junkertown 28 SFS 947.24498605 SHD 947.24498605 1 2018-01-13 00:00:00
{'date': datetime.datetime(2018, 1, 13, 0, 0), 'team': 'SFS', 'map number': 5, 'elo': 962.24498604950259}
{'date': datetime.datetime(2018, 1, 13, 0, 0), 'team': 'SHD', 'map number': 5, 'elo': 932.24498604950259}
Dorado 29 FLA 970.212667944 BOS 972.371203154 0 2018-01-13 00:00:00
{'date': datetime.datetime(2018, 1, 13, 0, 0), 'team': 'FLA', 'map number': 5, 'elo': 955.30585820075225}
{'date': datetime.datetime(2018, 1, 13, 0, 0), 'team': 'BOS', 'map number': 5, 'elo': 987.27801289634976}
Junkertown 30 VAL 1052.75501395 DAL 985.212667944 1 2018-01-13 00:00:00
{'date': datetime.datetime(2018, 1, 13, 0, 0), 'team': 'VAL', 'map number': 5, 'elo': 1064.8751641382564}
{'date': datetime.datetime(2018, 1, 13, 0, 0), 'team': 'DAL', 'map number': 5, 'elo': 973.09251775579105}
Horizon Lunar Colony 31 SEO 1031.42003454 GLA 1036.12231147 1 2018-01-13 00:00:00
{'date': datetime.datetime(2018, 1, 13, 0, 0), 'team': 'SEO', 'map number': 6, 'elo': 1046.623035756691}
{'date': datetime.datetime(2018, 1, 13, 0, 0), 'team': 'GLA', 'map number': 6, 'elo': 1020.9193102502566}
Temple of Anubis 32 NYE 1010.88975283 HOU 1003.90551375 1 2018-01-13 00:00:00
{'date': datetime.datetime(2018, 1, 13, 0, 0), 'team': 'NYE', 'map number': 6, 'elo': 1025.5882596009453}
{'date': datetime.datetime(2018, 1, 13, 0, 0), 'team': 'HOU', 'map number': 7, 'elo': 989.20700697512984}
Horizon Lunar Colony 33 LDN 1044.05595801 PHI 998.564904321 1 2018-01-13 00:00:00
{'date': datetime.datetime(2018, 1, 13, 0, 0), 'team': 'LDN', 'map number': 6, 'elo': 1057.1030983246453}
{'date': datetime.datetime(2018, 1, 13, 0, 0), 'team': 'PHI', 'map number': 7, 'elo': 985.5177640021775}
Horizon Lunar Colony 34 SFS 962.24498605 SHD 932.24498605 0 2018-01-13 00:00:00
{'date': datetime.datetime(2018, 1, 13, 0, 0), 'team': 'SFS', 'map number': 6, 'elo': 945.95299128883619}
{'date': datetime.datetime(2018, 1, 13, 0, 0), 'team': 'SHD', 'map number': 6, 'elo': 948.53698081016898}
Temple of Anubis 35 FLA 955.305858201 BOS 987.278012896 0 2018-01-13 00:00:00
{'date': datetime.datetime(2018, 1, 13, 0, 0), 'team': 'FLA', 'map number': 6, 'elo': 941.68232383769282}
{'date': datetime.datetime(2018, 1, 13, 0, 0), 'team': 'BOS', 'map number': 6, 'elo': 1000.9015472594091}
Horizon Lunar Colony 36 VAL 1064.87516414 DAL 973.092517756 0.5 2018-01-13 00:00:00
{'date': datetime.datetime(2018, 1, 13, 0, 0), 'team': 'VAL', 'map number': 6, 'elo': 1061.0022646492175}
{'date': datetime.datetime(2018, 1, 13, 0, 0), 'team': 'DAL', 'map number': 6, 'elo': 976.96541724483006}
Ilios 37 SEO 1046.62303576 GLA 1020.91931025 1 2018-01-13 00:00:00
{'date': datetime.datetime(2018, 1, 13, 0, 0), 'team': 'SEO', 'map number': 7, 'elo': 1060.5153368811843}
{'date': datetime.datetime(2018, 1, 13, 0, 0), 'team': 'GLA', 'map number': 7, 'elo': 1007.0270091257632}

Ilios 38 NYE 1025.5882596 HOU 989.207006975 1 2018-01-13 00:00:00
{'date': datetime.datetime(2018, 1, 13, 0, 0), 'team': 'NYE', 'map number': 7, 'elo': 1039.0232704969044}
{'date': datetime.datetime(2018, 1, 13, 0, 0), 'team': 'HOU', 'map number': 8, 'elo': 975.77199607917089}
Ilios 39 LDN 1057.10309832 PHI 985.517764002 1 2018-01-13 00:00:00
{'date': datetime.datetime(2018, 1, 13, 0, 0), 'team': 'LDN', 'map number': 7, 'elo': 1069.0555149179249}
{'date': datetime.datetime(2018, 1, 13, 0, 0), 'team': 'PHI', 'map number': 8, 'elo': 973.56534740889799}
Ilios 40 SFS 945.952991289 SHD 948.53698081 1 2018-01-13 00:00:00
{'date': datetime.datetime(2018, 1, 13, 0, 0), 'team': 'SFS', 'map number': 7, 'elo': 961.06454902730752}
{'date': datetime.datetime(2018, 1, 13, 0, 0), 'team': 'SHD', 'map number': 7, 'elo': 933.42542307169765}
Oasis 41 FLA 941.682323838 BOS 1000.90154726 0 2018-01-13 00:00:00
{'date': datetime.datetime(2018, 1, 13, 0, 0), 'team': 'FLA', 'map number': 7, 'elo': 929.21454848844803}
{'date': datetime.datetime(2018, 1, 13, 0, 0), 'team': 'BOS', 'map number': 7, 'elo': 1013.3693226086539}
Ilios 42 VAL 1061.00226465 DAL 976.965417245 1 2018-01-13 00:00:00
{'date': datetime.datetime(2018, 1, 13, 0, 0), 'team': 'VAL', 'map number': 7, 'elo': 1072.4432396762472}
{'date': datetime.datetime(2018, 1, 13, 0, 0), 'team': 'DAL', 'map number': 7, 'elo': 965.52444221780036}
Numbani 43 SEO 1060.51533688 GLA 1007.02700913 1 2018-01-13 00:00:00
{'date': datetime.datetime(2018, 1, 13, 0, 0), 'team': 'SEO', 'map number': 8, 'elo': 1073.2241329939684}
{'date': datetime.datetime(2018, 1, 13, 0, 0), 'team': 'GLA', 'map number': 8, 'elo': 994.31821301297919}
Numbani 44 NYE 1039.0232705 HOU 975.771996079 1 2018-01-13 00:00:00
{'date': datetime.datetime(2018, 1, 13, 0, 0), 'team': 'NYE', 'map number': 8, 'elo': 1051.3222673977407}
{'date': datetime.datetime(2018, 1, 13, 0, 0), 'team': 'HOU', 'map number': 9, 'elo': 963.47299917833448}
Numbani 45 LDN 1069.05551492 PHI 973.565347409 1 2018-01-13 00:00:00
{'date': datetime.datetime(2018, 1, 13, 0, 0), 'team': 'LDN', 'map number': 8, 'elo': 1080.0336356415028}
{'date': datetime.datetime(2018, 1, 13, 0, 0), 'team': 'PHI', 'map number': 9, 'elo': 962.58722668532016}
Numbani 46 SFS 961.064549027 SHD 933.425423072 1 2018-01-13 00:00:00
{'date': datetime.datetime(2018, 1, 13, 0, 0), 'team': 'SFS', 'map number': 8, 'elo': 974.87378289595051}
{'date': datetime.datetime(2018, 1, 13, 0, 0), 'team': 'SHD', 'map number': 8, 'elo': 919.61618920305466}
Eichenwalde 47 FLA 929.214548488 BOS 1013.36932261 0 2018-01-13 00:00:00
{'date': datetime.datetime(2018, 1, 13, 0, 0), 'team': 'FLA', 'map number': 8, 'elo': 917.77837775844284}
{'date': datetime.datetime(2018, 1, 13, 0, 0), 'team': 'BOS', 'map number': 8, 'elo': 1024.8054933386591}
Numbani 48 VAL 1072.44323968 DAL 965.524442218 1 2018-01-13 00:00:00
{'date': datetime.datetime(2018, 1, 13, 0, 0), 'team': 'VAL', 'map number': 8, 'elo': 1082.9675847188082}
{'date': datetime.datetime(2018, 1, 13, 0, 0), 'team': 'DAL', 'map number': 8, 'elo': 955.00009717523926}
Junkertown 49 DAL 955.000097175 HOU 963.472999178 0 2018-01-18 00:00:00
{'date': datetime.datetime(2018, 1, 18, 0, 0), 'team': 'DAL', 'map number': 9, 'elo': 940.36582925947278}
{'date': datetime.datetime(2018, 1, 18, 0, 0), 'team': 'HOU', 'map number': 10, 'elo': 978.10726709410096}
Junkertown 50 HOU 978.107267094 SHD 919.616189203 1 2018-01-18 00:00:00
{'date': datetime.datetime(2018, 1, 18, 0, 0), 'team': 'HOU', 'map number': 11, 'elo': 990.60559388226068}
{'date': datetime.datetime(2018, 1, 18, 0, 0), 'team': 'SHD', 'map number': 9, 'elo': 907.11786241489494}
Dorado 51 FLA 917.778377758 SEO 1073.22413299 0 2018-01-18 00:00:00
{'date': datetime.datetime(2018, 1, 18, 0, 0), 'team': 'FLA', 'map number': 9, 'elo': 909.07487899773423}
{'date': datetime.datetime(2018, 1, 18, 0, 0), 'team': 'SEO', 'map number': 9, 'elo': 1081.9276317546771}
Dorado 52 SFS 974.873782896 PHI 962.587226685 1 2018-01-18 00:00:00
{'date': datetime.datetime(2018, 1, 18, 0, 0), 'team': 'SFS', 'map number': 9, 'elo': 989.34355063825217}
{'date': datetime.datetime(2018, 1, 18, 0, 0), 'team': 'PHI', 'map number': 10, 'elo': 948.11745894301851}
Horizon Lunar Colony 53 DAL 940.365829259 HOU 990.605593882 0 2018-01-18 00:00:00
{'date': datetime.datetime(2018, 1, 18, 0, 0), 'team': 'DAL', 'map number': 10, 'elo': 927.51986179203914}
{'date': datetime.datetime(2018, 1, 18, 0, 0), 'team': 'HOU', 'map number': 12, 'elo': 1003.4515613496943}
Horizon Lunar Colony 54 HOU 1003.45156135 SHD 907.117862415 1 2018-01-18 00:00:00
{'date': datetime.datetime(2018, 1, 18, 0, 0), 'team': 'HOU', 'map number': 13, 'elo': 1014.3959040946136}
{'date': datetime.datetime(2018, 1, 18, 0, 0), 'team': 'SHD', 'map number': 10, 'elo': 896.17351966997569}
Horizon Lunar Colony 55 FLA 909.074878998 SEO 1081.92763175 0 2018-01-18 00:00:00
{'date': datetime.datetime(2018, 1, 18, 0, 0), 'team': 'FLA', 'map number': 10, 'elo': 900.97723129498036}
{'date': datetime.datetime(2018, 1, 18, 0, 0), 'team': 'SEO', 'map number': 10, 'elo': 1090.025279457431}
Temple of Anubis 56 SFS 989.343550638 PHI 948.117458943 0 2018-01-18 00:00:00
{'date': datetime.datetime(2018, 1, 18, 0, 0), 'team': 'SFS', 'map number': 10, 'elo': 972.57198381210901}
{'date': datetime.datetime(2018, 1, 18, 0, 0), 'team': 'PHI', 'map number': 11, 'elo': 964.88902576916166}
Oasis 57 DAL 927.519861792 HOU 1014.39590409 0 2018-01-18 00:00:00
{'date': datetime.datetime(2018, 1, 18, 0, 0), 'team': 'DAL', 'map number': 11, 'elo': 916.19433756469266}
{'date': datetime.datetime(2018, 1, 18, 0, 0), 'team': 'HOU', 'map number': 14, 'elo': 1025.72142832196}
Oasis 58 HOU 1025.72142832 SHD 896.17351967 1 2018-01-18 00:00:00
{'date': datetime.datetime(2018, 1, 18, 0, 0), 'team': 'HOU', 'map number': 15, 'elo': 1035.3739505604087}
{'date': datetime.datetime(2018, 1, 18, 0, 0), 'team': 'SHD', 'map number': 11, 'elo': 886.52099743152689}
Oasis 59 FLA 900.977231295 SEO 1090.02527946 0 2018-01-18 00:00:00
{'date': datetime.datetime(2018, 1, 18, 0, 0), 'team': 'FLA', 'map number': 11, 'elo': 893.41878149433853}
{'date': datetime.datetime(2018, 1, 18, 0, 0), 'team': 'SEO', 'map number': 11, 'elo': 1097.5837292580727}
Oasis 60 SFS 972.571983812 PHI 964.889025769 0 2018-01-18 00:00:00
{'date': datetime.datetime(2018, 1, 18, 0, 0), 'team': 'SFS', 'map number': 11, 'elo': 957.24033790619205}
{'date': datetime.datetime(2018, 1, 18, 0, 0), 'team': 'PHI', 'map number': 12, 'elo': 980.22067167507862}
Eichenwalde 61 DAL 916.194337565 HOU 1035.37395056 0 2018-01-18 00:00:00
{'date': datetime.datetime(2018, 1, 18, 0, 0), 'team': 'DAL', 'map number': 12, 'elo': 906.14698724547634}
{'date': datetime.datetime(2018, 1, 18, 0, 0), 'team': 'HOU', 'map number': 16, 'elo': 1045.4213008796251}
Numbani 62 HOU 1045.42130088 SHD 886.520997432 1 2018-01-18 00:00:00
{'date': datetime.datetime(2018, 1, 18, 0, 0), 'team': 'HOU', 'map number': 17, 'elo': 1054.0024494294837}
{'date': datetime.datetime(2018, 1, 18, 0, 0), 'team': 'SHD', 'map number': 12, 'elo': 877.93984888166813}
Eichenwalde 63 FLA 893.418781494 SEO 1097.58372926 0 2018-01-18 00:00:00
{'date': datetime.datetime(2018, 1, 18, 0, 0), 'team': 'FLA', 'map number': 12, 'elo': 886.34165835774718}
{'date': datetime.datetime(2018, 1, 18, 0, 0), 'team': 'SEO', 'map number': 12, 'elo': 1104.6608523946641}
Eichenwalde 64 SFS 957.240337906 PHI 980.220671675 0.5 2018-01-18 00:00:00
{'date': datetime.datetime(2018, 1, 18, 0, 0), 'team': 'SFS', 'map number': 12, 'elo': 958.2310343701464}
{'date': datetime.datetime(2018, 1, 18, 0, 0), 'team': 'PHI', 'map number': 13, 'elo': 979.22997521112427}
Junkertown 65 PHI 979.229975211 GLA 994.318213013 1 2018-01-19 00:00:00
{'date': datetime.datetime(2018, 1, 19, 0, 0), 'team': 'PHI', 'map number': 14, 'elo': 994.88097760108781}
{'date': datetime.datetime(2018, 1, 19, 0, 0), 'team': 'GLA', 'map number': 9, 'elo': 978.66721062301565}
Junkertown 66 NYE 1051.3222674 VAL 1082.96758472 1 2018-01-19 00:00:00
{'date': datetime.datetime(2018, 1, 19, 0, 0), 'team': 'NYE', 'map number': 9, 'elo': 1067.6847399491369}
{'date': datetime.datetime(2018, 1, 19, 0, 0), 'team': 'VAL', 'map number': 9, 'elo': 1066.605112167412}
Temple of Anubis 67 PHI 994.880977601 GLA 978.667210623 1 2018-01-19 00:00:00
{'date': datetime.datetime(2018, 1, 19, 0, 0), 'team': 'PHI', 'map number': 15, 'elo': 1009.1814807267358}
{'date': datetime.datetime(2018, 1, 19, 0, 0), 'team': 'GLA', 'map number': 10, 'elo': 964.36670749736766}
Horizon Lunar Colony 68 NYE 1067.68473995 VAL 1066.60511217 1 2018-01-19 00:00:00
{'date': datetime.datetime(2018, 1, 19, 0, 0), 'team': 'NYE', 'map number': 10, 'elo': 1082.6381288209848}
{'date': datetime.datetime(2018, 1, 19, 0, 0), 'team': 'VAL', 'map number': 10, 'elo': 1051.6517232955641}
Ilios 69 PHI 1009.18148073 GLA 964.366707497 0 2018-01-19 00:00:00
{'date': datetime.datetime(2018, 1, 19, 0, 0), 'team': 'PHI', 'map number': 16, 'elo': 992.25733077552195}
{'date': datetime.datetime(2018, 1, 19, 0, 0), 'team': 'GLA', 'map number': 11, 'elo': 981.29085744858151}
Oasis 70 NYE 1082.63812882 VAL 1051.6517233 1 2018-01-19 00:00:00
{'date': datetime.datetime(2018, 1, 19, 0, 0), 'team': 'NYE', 'map number': 11, 'elo': 1096.3038739033043}
{'date': datetime.datetime(2018, 1, 19, 0, 0), 'team': 'VAL', 'map number': 11, 'elo': 1037.9859782132446}
Numbani 71 PHI 992.257330776 GLA 981.290857449 0 2018-01-19 00:00:00
{'date': datetime.datetime(2018, 1, 19, 0, 0), 'team': 'PHI', 'map number': 17, 'elo': 976.7840272348684}
{'date': datetime.datetime(2018, 1, 19, 0, 0), 'team': 'GLA', 'map number': 12, 'elo': 996.76416098923505}
Numbani 72 NYE 1096.3038739 VAL 1037.98597821 0.5 2018-01-19 00:00:00
{'date': datetime.datetime(2018, 1, 19, 0, 0), 'team': 'NYE', 'map number': 12, 'elo': 1093.8094702027156}
{'date': datetime.datetime(2018, 1, 19, 0, 0), 'team': 'VAL', 'map number': 12, 'elo': 1040.4803819138333}
Lijiang Tower 73 PHI 976.784027235 GLA 996.764160989 0 2018-01-19 00:00:00
{'date': datetime.datetime(2018, 1, 19, 0, 0), 'team': 'PHI', 'map number': 18, 'elo': 962.64568928992162}
{'date': datetime.datetime(2018, 1, 19, 0, 0), 'team': 'GLA', 'map number': 13, 'elo': 1010.9024989341818}
Dorado 74 BOS 1024.80549334 SFS 958.23103437 0 2018-01-20 00:00:00
{'date': datetime.datetime(2018, 1, 20, 0, 0), 'team': 'BOS', 'map number': 9, 'elo': 1006.9659117251629}
{'date': datetime.datetime(2018, 1, 20, 0, 0), 'team': 'SFS', 'map number': 13, 'elo': 976.0706159836426}
Dorado 75 GLA 1010.90249893 NYE 1093.8094702 0 2018-01-20 00:00:00
{'date': datetime.datetime(2018, 1, 20, 0, 0), 'team': 'GLA', 'map number': 14, 'elo': 999.41545401724875}
{'date': datetime.datetime(2018, 1, 20, 0, 0), 'team': 'NYE', 'map number': 13, 'elo': 1105.2965151196486}
Dorado 76 VAL 1040.48038191 LDN 1080.03363564 0 2018-01-20 00:00:00
{'date': datetime.datetime(2018, 1, 20, 0, 0), 'team': 'VAL', 'map number': 13, 'elo': 1027.1806939542191}
{'date': datetime.datetime(2018, 1, 20, 0, 0), 'team': 'LDN', 'map number': 9, 'elo': 1093.3333236011169}
Junkertown 77 LDN 1093.3333236 DAL 906.146987245 1 2018-01-20 00:00:00
{'date': datetime.datetime(2018, 1, 20, 0, 0), 'team': 'LDN', 'map number': 10, 'elo': 1100.9525287274885}
{'date': datetime.datetime(2018, 1, 20, 0, 0), 'team': 'DAL', 'map number': 13, 'elo': 898.52778211910493}
Dorado 78 SHD 877.939848882 FLA 886.341658358 0 2018-01-20 00:00:00
{'date': datetime.datetime(2018, 1, 20, 0, 0), 'team': 'SHD', 'map number': 13, 'elo': 863.30251346419379}
{'date': datetime.datetime(2018, 1, 20, 0, 0), 'team': 'FLA', 'map number': 13, 'elo': 900.97899377522151}
Junkertown 79 SEO 1104.66085239 BOS 1006.96591173 1 2018-01-20 00:00:00
{'date': datetime.datetime(2018, 1, 20, 0, 0), 'team': 'SEO', 'map number': 13, 'elo': 1115.5507798080575}
{'date': datetime.datetime(2018, 1, 20, 0, 0), 'team': 'BOS', 'map number': 10, 'elo': 996.0759843117695}
Horizon Lunar Colony 80 BOS 996.075984312 SFS 976.070615984 1 2018-01-20 00:00:00
{'date': datetime.datetime(2018, 1, 20, 0, 0), 'team': 'BOS', 'map number': 11, 'elo': 1010.2132363921683}
{'date': datetime.datetime(2018, 1, 20, 0, 0), 'team': 'SFS', 'map number': 14, 'elo': 961.93336390324384}
Horizon Lunar Colony 81 GLA 999.415454017 NYE 1105.29651512 0 2018-01-20 00:00:00
{'date': datetime.datetime(2018, 1, 20, 0, 0), 'team': 'GLA', 'map number': 15, 'elo': 988.85025874053235}
{'date': datetime.datetime(2018, 1, 20, 0, 0), 'team': 'NYE', 'map number': 14, 'elo': 1115.861710396365}
Horizon Lunar Colony 82 VAL 1027.18069395 LDN 1100.95252873 0 2018-01-20 00:00:00
{'date': datetime.datetime(2018, 1, 20, 0, 0), 'team': 'VAL', 'map number': 14, 'elo': 1015.3186627281279}
{'date': datetime.datetime(2018, 1, 20, 0, 0), 'team': 'LDN', 'map number': 11, 'elo': 1112.8145599535796}
Horizon Lunar Colony 83 LDN 1112.81455995 DAL 898.527782119 1 2018-01-20 00:00:00
{'date': datetime.datetime(2018, 1, 20, 0, 0), 'team': 'LDN', 'map number': 12, 'elo': 1119.5814654865078}
{'date': datetime.datetime(2018, 1, 20, 0, 0), 'team': 'DAL', 'map number': 14, 'elo': 891.76087658617678}
Temple of Anubis 84 SHD 863.302513464 FLA 900.978993775 0 2018-01-20 00:00:00
{'date': datetime.datetime(2018, 1, 20, 0, 0), 'team': 'SHD', 'map number': 14, 'elo': 849.9227915819323}
{'date': datetime.datetime(2018, 1, 20, 0, 0), 'team': 'FLA', 'map number': 14, 'elo': 914.358715657483}
Horizon Lunar Colony 85 SEO 1115.55077981 BOS 1010.21323639 1 2018-01-20 00:00:00
{'date': datetime.datetime(2018, 1, 20, 0, 0), 'team': 'SEO', 'map number': 14, 'elo': 1126.1373993724728}
{'date': datetime.datetime(2018, 1, 20, 0, 0), 'team': 'BOS', 'map number': 12, 'elo': 999.62661682775285}
Oasis 86 BOS 999.626616828 SFS 961.933363903 0 2018-01-20 00:00:00
{'date': datetime.datetime(2018, 1, 20, 0, 0), 'team': 'BOS', 'map number': 13, 'elo': 983.00562303098889}
{'date': datetime.datetime(2018, 1, 20, 0, 0), 'team': 'SFS', 'map number': 15, 'elo': 978.55435770000781}

Oasis 87 GLA 988.850258741 NYE 1115.8617104 0 2018-01-20 00:00:00
{'date': datetime.datetime(2018, 1, 20, 0, 0), 'team': 'GLA', 'map number': 16, 'elo': 979.10189858168519}
{'date': datetime.datetime(2018, 1, 20, 0, 0), 'team': 'NYE', 'map number': 15, 'elo': 1125.6100705552121}
Oasis 88 VAL 1015.31866273 LDN 1119.58146549 1 2018-01-20 00:00:00
{'date': datetime.datetime(2018, 1, 20, 0, 0), 'team': 'VAL', 'map number': 15, 'elo': 1034.6896212108807}
{'date': datetime.datetime(2018, 1, 20, 0, 0), 'team': 'LDN', 'map number': 13, 'elo': 1100.2105070037551}
Oasis 89 LDN 1100.210507 DAL 891.760876586 0 2018-01-20 00:00:00
{'date': datetime.datetime(2018, 1, 20, 0, 0), 'team': 'LDN', 'map number': 14, 'elo': 1077.1551235862537}
{'date': datetime.datetime(2018, 1, 20, 0, 0), 'team': 'DAL', 'map number': 15, 'elo': 914.81626000367817}
Ilios 90 SHD 849.922791582 FLA 914.358715657 0 2018-01-20 00:00:00
{'date': datetime.datetime(2018, 1, 20, 0, 0), 'team': 'SHD', 'map number': 15, 'elo': 837.67325121780732}
{'date': datetime.datetime(2018, 1, 20, 0, 0), 'team': 'FLA', 'map number': 15, 'elo': 926.6082560216081}
Oasis 91 SEO 1126.13739937 BOS 983.005623031 1 2018-01-20 00:00:00
{'date': datetime.datetime(2018, 1, 20, 0, 0), 'team': 'SEO', 'map number': 15, 'elo': 1135.2852839946379}
{'date': datetime.datetime(2018, 1, 20, 0, 0), 'team': 'BOS', 'map number': 14, 'elo': 973.85773840882382}
Eichenwalde 92 BOS 973.857738409 SFS 978.5543577 1 2018-01-20 00:00:00
{'date': datetime.datetime(2018, 1, 20, 0, 0), 'team': 'BOS', 'map number': 15, 'elo': 989.06049541308414}
{'date': datetime.datetime(2018, 1, 20, 0, 0), 'team': 'SFS', 'map number': 16, 'elo': 963.35160069574749}
Eichenwalde 93 GLA 979.101898582 NYE 1125.61007056 0 2018-01-20 00:00:00
{'date': datetime.datetime(2018, 1, 20, 0, 0), 'team': 'GLA', 'map number': 17, 'elo': 970.07712626830107}
{'date': datetime.datetime(2018, 1, 20, 0, 0), 'team': 'NYE', 'map number': 16, 'elo': 1134.6348428685963}
Eichenwalde 94 VAL 1034.68962121 LDN 1077.15512359 1 2018-01-20 00:00:00
{'date': datetime.datetime(2018, 1, 20, 0, 0), 'team': 'VAL', 'map number': 16, 'elo': 1051.5139288650305}
{'date': datetime.datetime(2018, 1, 20, 0, 0), 'team': 'LDN', 'map number': 15, 'elo': 1060.3308159321039}
Numbani 95 LDN 1060.33081593 DAL 914.816260004 1 2018-01-20 00:00:00
{'date': datetime.datetime(2018, 1, 20, 0, 0), 'team': 'LDN', 'map number': 16, 'elo': 1069.3917200648054}
{'date': datetime.datetime(2018, 1, 20, 0, 0), 'team': 'DAL', 'map number': 16, 'elo': 905.75535587097659}
Numbani 96 SHD 837.673251218 FLA 926.608256022 0 2018-01-20 00:00:00
{'date': datetime.datetime(2018, 1, 20, 0, 0), 'team': 'SHD', 'map number': 16, 'elo': 826.43116319222304}
{'date': datetime.datetime(2018, 1, 20, 0, 0), 'team': 'FLA', 'map number': 16, 'elo': 937.85034404719238}
Numbani 97 SEO 1135.28528399 BOS 989.060495413 1 2018-01-20 00:00:00
{'date': datetime.datetime(2018, 1, 20, 0, 0), 'team': 'SEO', 'map number': 16, 'elo': 1144.3203528835122}
{'date': datetime.datetime(2018, 1, 20, 0, 0), 'team': 'BOS', 'map number': 16, 'elo': 980.02542652420982}
Lijiang Tower 98 BOS 980.025426524 SFS 963.351600696 0 2018-01-20 00:00:00
{'date': datetime.datetime(2018, 1, 20, 0, 0), 'team': 'BOS', 'map number': 17, 'elo': 964.30611174158309}
{'date': datetime.datetime(2018, 1, 20, 0, 0), 'team': 'SFS', 'map number': 17, 'elo': 979.07091547837422}
Lijiang Tower 99 VAL 1051.51392887 LDN 1069.39172006 0 2018-01-20 00:00:00
{'date': datetime.datetime(2018, 1, 20, 0, 0), 'team': 'VAL', 'map number': 17, 'elo': 1037.285094654557}
{'date': datetime.datetime(2018, 1, 20, 0, 0), 'team': 'LDN', 'map number': 17, 'elo': 1083.6205542752789}
Numbani 100 BOS 964.306111742 LDN 1083.62055428 0 2018-01-25 00:00:00
{'date': datetime.datetime(2018, 1, 25, 0, 0), 'team': 'BOS', 'map number': 18, 'elo': 954.26394722455052}
{'date': datetime.datetime(2018, 1, 25, 0, 0), 'team': 'LDN', 'map number': 18, 'elo': 1093.6627187923116}
Eichenwalde 101 GLA 970.077126268 VAL 1037.28509465 1 2018-01-25 00:00:00
{'date': datetime.datetime(2018, 1, 25, 0, 0), 'team': 'GLA', 'map number': 18, 'elo': 987.94306939503201}
{'date': datetime.datetime(2018, 1, 25, 0, 0), 'team': 'VAL', 'map number': 18, 'elo': 1019.4191515278261}
Numbani 102 SHD 826.431163192 SEO 1144.32035288 0 2018-01-25 00:00:00
{'date': datetime.datetime(2018, 1, 25, 0, 0), 'team': 'SHD', 'map number': 17, 'elo': 822.28371933586459}
{'date': datetime.datetime(2018, 1, 25, 0, 0), 'team': 'SEO', 'map number': 17, 'elo': 1148.4677967398707}
Eichenwalde 103 SFS 979.070915478 LDN 1093.66271879 0 2018-01-25 00:00:00
{'date': datetime.datetime(2018, 1, 25, 0, 0), 'team': 'SFS', 'map number': 18, 'elo': 968.84632414295754}
{'date': datetime.datetime(2018, 1, 25, 0, 0), 'team': 'LDN', 'map number': 19, 'elo': 1103.8873101277281}
Temple of Anubis 104 BOS 954.263947225 LDN 1103.88731013 1 2018-01-25 00:00:00
{'date': datetime.datetime(2018, 1, 25, 0, 0), 'team': 'BOS', 'map number': 19, 'elo': 975.35192114728341}
{'date': datetime.datetime(2018, 1, 25, 0, 0), 'team': 'LDN', 'map number': 20, 'elo': 1082.7993362049954}
Horizon Lunar Colony 105 GLA 987.943069395 VAL 1019.41915153 1 2018-01-25 00:00:00
{'date': datetime.datetime(2018, 1, 25, 0, 0), 'team': 'GLA', 'map number': 19, 'elo': 1004.2982954370063}
{'date': datetime.datetime(2018, 1, 25, 0, 0), 'team': 'VAL', 'map number': 19, 'elo': 1003.0639254858518}
Temple of Anubis 106 SHD 822.283719336 SEO 1148.46779674 0 2018-01-25 00:00:00
{'date': datetime.datetime(2018, 1, 25, 0, 0), 'team': 'SHD', 'map number': 18, 'elo': 818.30400526115136}
{'date': datetime.datetime(2018, 1, 25, 0, 0), 'team': 'SEO', 'map number': 18, 'elo': 1152.4475108145839}
Horizon Lunar Colony 107 SFS 968.846324143 LDN 1082.7993362 0 2018-01-25 00:00:00
{'date': datetime.datetime(2018, 1, 25, 0, 0), 'team': 'SFS', 'map number': 19, 'elo': 958.5969346953384}
{'date': datetime.datetime(2018, 1, 25, 0, 0), 'team': 'LDN', 'map number': 21, 'elo': 1093.0487256526146}
Ilios 108 BOS 975.351921147 LDN 1093.04872565 1 2018-01-25 00:00:00
{'date': datetime.datetime(2018, 1, 25, 0, 0), 'team': 'BOS', 'map number': 20, 'elo': 995.24745172144753}
{'date': datetime.datetime(2018, 1, 25, 0, 0), 'team': 'LDN', 'map number': 22, 'elo': 1073.1531950784504}
Ilios 109 GLA 1004.29829544 VAL 1003.06392549 0 2018-01-25 00:00:00
{'date': datetime.datetime(2018, 1, 25, 0, 0), 'team': 'GLA', 'map number': 20, 'elo': 989.24500362656534}
{'date': datetime.datetime(2018, 1, 25, 0, 0), 'team': 'VAL', 'map number': 20, 'elo': 1018.1172172962928}
Oasis 110 SHD 818.304005261 SEO 1152.44751081 0 2018-01-25 00:00:00
{'date': datetime.datetime(2018, 1, 25, 0, 0), 'team': 'SHD', 'map number': 19, 'elo': 814.47980063076295}
{'date': datetime.datetime(2018, 1, 25, 0, 0), 'team': 'SEO', 'map number': 19, 'elo': 1156.2717154449724}
Oasis 111 SFS 958.596934695 LDN 1073.15319508 1 2018-01-25 00:00:00
{'date': datetime.datetime(2018, 1, 25, 0, 0), 'team': 'SFS', 'map number': 20, 'elo': 978.37096433140209}
{'date': datetime.datetime(2018, 1, 25, 0, 0), 'team': 'LDN', 'map number': 23, 'elo': 1053.3791654423867}
Junkertown 112 BOS 995.247451721 LDN 1053.37916544 0 2018-01-25 00:00:00
{'date': datetime.datetime(2018, 1, 25, 0, 0), 'team': 'BOS', 'map number': 21, 'elo': 982.73403888712301}
{'date': datetime.datetime(2018, 1, 25, 0, 0), 'team': 'LDN', 'map number': 24, 'elo': 1065.8925782767112}
Junkertown 113 GLA 989.245003627 VAL 1018.1172173 0 2018-01-25 00:00:00
{'date': datetime.datetime(2018, 1, 25, 0, 0), 'team': 'GLA', 'map number': 21, 'elo': 975.48865582019585}
{'date': datetime.datetime(2018, 1, 25, 0, 0), 'team': 'VAL', 'map number': 21, 'elo': 1031.8735651026623}
Dorado 114 SHD 814.479800631 SEO 1156.27171544 1 2018-01-25 00:00:00
{'date': datetime.datetime(2018, 1, 25, 0, 0), 'team': 'SHD', 'map number': 20, 'elo': 840.80011077568872}
{'date': datetime.datetime(2018, 1, 25, 0, 0), 'team': 'SEO', 'map number': 20, 'elo': 1129.9514053000466}
Junkertown 115 SFS 978.370964331 LDN 1065.89257828 0 2018-01-25 00:00:00
{'date': datetime.datetime(2018, 1, 25, 0, 0), 'team': 'SFS', 'map number': 21, 'elo': 967.07162720895951}
{'date': datetime.datetime(2018, 1, 25, 0, 0), 'team': 'LDN', 'map number': 25, 'elo': 1077.1919153991537}
Lijiang Tower 116 BOS 982.734038887 LDN 1077.1919154 1 2018-01-25 00:00:00
{'date': datetime.datetime(2018, 1, 25, 0, 0), 'team': 'BOS', 'map number': 22, 'elo': 1001.7145217379009}
{'date': datetime.datetime(2018, 1, 25, 0, 0), 'team': 'LDN', 'map number': 26, 'elo': 1058.2114325483758}
Lijiang Tower 117 GLA 975.48865582 VAL 1031.8735651 0 2018-01-25 00:00:00
{'date': datetime.datetime(2018, 1, 25, 0, 0), 'team': 'GLA', 'map number': 22, 'elo': 962.90183927550811}
{'date': datetime.datetime(2018, 1, 25, 0, 0), 'team': 'VAL', 'map number': 22, 'elo': 1044.46038164735}
Numbani 118 HOU 1054.00244943 FLA 937.850344047 1 2018-01-26 00:00:00
{'date': datetime.datetime(2018, 1, 26, 0, 0), 'team': 'HOU', 'map number': 18, 'elo': 1064.1665914814273}
{'date': datetime.datetime(2018, 1, 26, 0, 0), 'team': 'FLA', 'map number': 17, 'elo': 927.68620199524889}
Numbani 119 PHI 962.64568929 NYE 1134.63484287 0 2018-01-26 00:00:00
{'date': datetime.datetime(2018, 1, 26, 0, 0), 'team': 'PHI', 'map number': 19, 'elo': 954.51861821606235}
{'date': datetime.datetime(2018, 1, 26, 0, 0), 'team': 'NYE', 'map number': 17, 'elo': 1142.7619139424555}
Horizon Lunar Colony 120 HOU 1064.16659148 FLA 927.686201995 1 2018-01-26 00:00:00
{'date': datetime.datetime(2018, 1, 26, 0, 0), 'team': 'HOU', 'map number': 19, 'elo': 1073.5597322470278}
{'date': datetime.datetime(2018, 1, 26, 0, 0), 'team': 'FLA', 'map number': 18, 'elo': 918.29306122964852}
Temple of Anubis 121 PHI 954.518618216 NYE 1142.76191394 1 2018-01-26 00:00:00
{'date': datetime.datetime(2018, 1, 26, 0, 0), 'team': 'PHI', 'map number': 20, 'elo': 976.93394550514108}
{'date': datetime.datetime(2018, 1, 26, 0, 0), 'team': 'NYE', 'map number': 18, 'elo': 1120.3465866533768}
Ilios 122 HOU 1073.55973225 FLA 918.29306123 1 2018-01-26 00:00:00
{'date': datetime.datetime(2018, 1, 26, 0, 0), 'team': 'HOU', 'map number': 20, 'elo': 1082.2696017176218}
{'date': datetime.datetime(2018, 1, 26, 0, 0), 'team': 'FLA', 'map number': 19, 'elo': 909.58319175905467}
Ilios 123 PHI 976.933945505 NYE 1120.34658665 0 2018-01-26 00:00:00
{'date': datetime.datetime(2018, 1, 26, 0, 0), 'team': 'PHI', 'map number': 21, 'elo': 967.79633786319039}
{'date': datetime.datetime(2018, 1, 26, 0, 0), 'team': 'NYE', 'map number': 19, 'elo': 1129.4841942953276}
Junkertown 124 HOU 1082.26960172 FLA 909.583191759 1 2018-01-26 00:00:00
{'date': datetime.datetime(2018, 1, 26, 0, 0), 'team': 'HOU', 'map number': 21, 'elo': 1090.3729116012917}
{'date': datetime.datetime(2018, 1, 26, 0, 0), 'team': 'FLA', 'map number': 20, 'elo': 901.47988187538465}
Dorado 125 PHI 967.796337863 NYE 1129.4841943 1 2018-01-26 00:00:00
{'date': datetime.datetime(2018, 1, 26, 0, 0), 'team': 'PHI', 'map number': 22, 'elo': 989.31316117611664}
{'date': datetime.datetime(2018, 1, 26, 0, 0), 'team': 'NYE', 'map number': 20, 'elo': 1107.9673709824012}
Lijiang Tower 126 PHI 989.313161176 NYE 1107.96737098 1 2018-01-26 00:00:00
{'date': datetime.datetime(2018, 1, 26, 0, 0), 'team': 'PHI', 'map number': 23, 'elo': 1009.2455901731128}
{'date': datetime.datetime(2018, 1, 26, 0, 0), 'team': 'NYE', 'map number': 21, 'elo': 1088.0349419854051}
Numbani 127 GLA 962.901839276 HOU 1090.3729116 0 2018-01-27 00:00:00
{'date': datetime.datetime(2018, 1, 27, 0, 0), 'team': 'GLA', 'map number': 23, 'elo': 953.17088212794829}
{'date': datetime.datetime(2018, 1, 27, 0, 0), 'team': 'HOU', 'map number': 22, 'elo': 1100.1038687488515}
Eichenwalde 128 VAL 1044.46038165 FLA 901.479881875 1 2018-01-27 00:00:00
{'date': datetime.datetime(2018, 1, 27, 0, 0), 'team': 'VAL', 'map number': 23, 'elo': 1053.6138042403043}
{'date': datetime.datetime(2018, 1, 27, 0, 0), 'team': 'FLA', 'map number': 21, 'elo': 892.32645928243039}
Numbani 129 DAL 905.755355871 BOS 1001.71452174 1 2018-01-27 00:00:00
{'date': datetime.datetime(2018, 1, 27, 0, 0), 'team': 'DAL', 'map number': 17, 'elo': 924.79602095045311}
{'date': datetime.datetime(2018, 1, 27, 0, 0), 'team': 'BOS', 'map number': 23, 'elo': 982.67385665842437}
Eichenwalde 130 DAL 924.79602095 SFS 967.071627209 0.5 2018-01-27 00:00:00
{'date': datetime.datetime(2018, 1, 27, 0, 0), 'team': 'DAL', 'map number': 18, 'elo': 926.61225086218485}
{'date': datetime.datetime(2018, 1, 27, 0, 0), 'team': 'SFS', 'map number': 22, 'elo': 965.25539729722777}
Eichenwalde 131 SHD 840.800110776 PHI 1009.24559017 0 2018-01-27 00:00:00
{'date': datetime.datetime(2018, 1, 27, 0, 0), 'team': 'SHD', 'map number': 21, 'elo': 832.55160341698866}
{'date': datetime.datetime(2018, 1, 27, 0, 0), 'team': 'PHI', 'map number': 24, 'elo': 1017.4940975318128}
Eichenwalde 132 SEO 1129.9514053 NYE 1088.03494199 0 2018-01-27 00:00:00
{'date': datetime.datetime(2018, 1, 27, 0, 0), 'team': 'SEO', 'map number': 21, 'elo': 1113.1504554196163}
{'date': datetime.datetime(2018, 1, 27, 0, 0), 'team': 'NYE', 'map number': 22, 'elo': 1104.8358918658355}
Temple of Anubis 133 GLA 953.170882128 HOU 1100.10386875 0 2018-01-27 00:00:00
{'date': datetime.datetime(2018, 1, 27, 0, 0), 'team': 'GLA', 'map number': 24, 'elo': 944.1615326834916}
{'date': datetime.datetime(2018, 1, 27, 0, 0), 'team': 'HOU', 'map number': 23, 'elo': 1109.1132181933083}
Temple of Anubis 134 VAL 1053.61380424 FLA 892.326459282 1 2018-01-27 00:00:00
{'date': datetime.datetime(2018, 1, 27, 0, 0), 'team': 'VAL', 'map number': 24, 'elo': 1062.1110156372347}
{'date': datetime.datetime(2018, 1, 27, 0, 0), 'team': 'FLA', 'map number': 22, 'elo': 883.82924788549997}
Temple of Anubis 135 DAL 926.612250862 BOS 982.673856658 0 2018-01-27 00:00:00
{'date': datetime.datetime(2018, 1, 27, 0, 0), 'team': 'DAL', 'map number': 19, 'elo': 914.01183541676517}
{'date': datetime.datetime(2018, 1, 27, 0, 0), 'team': 'BOS', 'map number': 24, 'elo': 995.27427210384405}
Horizon Lunar Colony 136 DAL 914.011835417 SFS 965.255397297 1 2018-01-27 00:00:00
{'date': datetime.datetime(2018, 1, 27, 0, 0), 'team': 'DAL', 'map number': 20, 'elo': 931.20829395443661}
{'date': datetime.datetime(2018, 1, 27, 0, 0), 'team': 'SFS', 'map number': 23, 'elo': 948.05893875955633}
Horizon Lunar Colony 137 SHD 832.551603417 PHI 1017.49409753 0 2018-01-27 00:00:00
{'date': datetime.datetime(2018, 1, 27, 0, 0), 'team': 'SHD', 'map number': 22, 'elo': 824.85874567292899}
{'date': datetime.datetime(2018, 1, 27, 0, 0), 'team': 'PHI', 'map number': 25, 'elo': 1025.1869552758724}
Horizon Lunar Colony 138 SEO 1113.15045542 NYE 1104.83589187 1 2018-01-27 00:00:00
{'date': datetime.datetime(2018, 1, 27, 0, 0), 'team': 'SEO', 'map number': 22, 'elo': 1127.7915553672585}
{'date': datetime.datetime(2018, 1, 27, 0, 0), 'team': 'NYE', 'map number': 23, 'elo': 1090.1947919181932}
Ilios 139 GLA 944.161532683 HOU 1109.11321819 0 2018-01-27 00:00:00
{'date': datetime.datetime(2018, 1, 27, 0, 0), 'team': 'GLA', 'map number': 25, 'elo': 935.79220177121977}
{'date': datetime.datetime(2018, 1, 27, 0, 0), 'team': 'HOU', 'map number': 24, 'elo': 1117.4825491055801}
Ilios 140 VAL 1062.11101564 FLA 883.829247885 1 2018-01-27 00:00:00
{'date': datetime.datetime(2018, 1, 27, 0, 0), 'team': 'VAL', 'map number': 25, 'elo': 1070.0252383707168}
{'date': datetime.datetime(2018, 1, 27, 0, 0), 'team': 'FLA', 'map number': 23, 'elo': 875.91502515201796}
Ilios 141 DAL 931.208293954 BOS 995.274272104 0 2018-01-27 00:00:00
{'date': datetime.datetime(2018, 1, 27, 0, 0), 'team': 'DAL', 'map number': 21, 'elo': 918.94331574354703}
{'date': datetime.datetime(2018, 1, 27, 0, 0), 'team': 'BOS', 'map number': 25, 'elo': 1007.5392503147336}
Ilios 142 DAL 918.943315744 SFS 948.05893876 1 2018-01-27 00:00:00
{'date': datetime.datetime(2018, 1, 27, 0, 0), 'team': 'DAL', 'map number': 22, 'elo': 935.19740391687458}
{'date': datetime.datetime(2018, 1, 27, 0, 0), 'team': 'SFS', 'map number': 24, 'elo': 931.80485058622878}
Oasis 143 SHD 824.858745673 PHI 1025.18695528 1 2018-01-27 00:00:00
{'date': datetime.datetime(2018, 1, 27, 0, 0), 'team': 'SHD', 'map number': 23, 'elo': 847.66149424369235}
{'date': datetime.datetime(2018, 1, 27, 0, 0), 'team': 'PHI', 'map number': 26, 'elo': 1002.384206705109}
Oasis 144 SEO 1127.79155537 NYE 1090.19479192 0 2018-01-27 00:00:00
{'date': datetime.datetime(2018, 1, 27, 0, 0), 'team': 'SEO', 'map number': 23, 'elo': 1111.1746788301214}
{'date': datetime.datetime(2018, 1, 27, 0, 0), 'team': 'NYE', 'map number': 24, 'elo': 1106.8116684553304}
Dorado 145 GLA 935.792201771 HOU 1117.48254911 0 2018-01-27 00:00:00
{'date': datetime.datetime(2018, 1, 27, 0, 0), 'team': 'GLA', 'map number': 26, 'elo': 927.99176977601269}
{'date': datetime.datetime(2018, 1, 27, 0, 0), 'team': 'HOU', 'map number': 25, 'elo': 1125.2829811007873}
Dorado 146 VAL 1070.02523837 FLA 875.915025152 1 2018-01-27 00:00:00
{'date': datetime.datetime(2018, 1, 27, 0, 0), 'team': 'VAL', 'map number': 26, 'elo': 1077.4201203323857}
{'date': datetime.datetime(2018, 1, 27, 0, 0), 'team': 'FLA', 'map number': 24, 'elo': 868.5201431903489}
Dorado 147 DAL 935.197403917 BOS 1007.53925031 1 2018-01-27 00:00:00
{'date': datetime.datetime(2018, 1, 27, 0, 0), 'team': 'DAL', 'map number': 23, 'elo': 953.27628645714753}
{'date': datetime.datetime(2018, 1, 27, 0, 0), 'team': 'BOS', 'map number': 26, 'elo': 989.46036777446068}
Junkertown 148 DAL 953.276286457 SFS 931.804850586 1 2018-01-27 00:00:00
{'date': datetime.datetime(2018, 1, 27, 0, 0), 'team': 'DAL', 'map number': 24, 'elo': 967.35046838545532}
{'date': datetime.datetime(2018, 1, 27, 0, 0), 'team': 'SFS', 'map number': 25, 'elo': 917.730668657921}
Junkertown 149 SHD 847.661494244 PHI 1002.38420671 1 2018-01-27 00:00:00
{'date': datetime.datetime(2018, 1, 27, 0, 0), 'team': 'SHD', 'map number': 24, 'elo': 868.9322572048552}
{'date': datetime.datetime(2018, 1, 27, 0, 0), 'team': 'PHI', 'map number': 27, 'elo': 981.11344374394616}
Junkertown 150 SEO 1111.17467883 NYE 1106.81166846 1 2018-01-27 00:00:00
{'date': datetime.datetime(2018, 1, 27, 0, 0), 'team': 'SEO', 'map number': 24, 'elo': 1125.9863224314281}
{'date': datetime.datetime(2018, 1, 27, 0, 0), 'team': 'NYE', 'map number': 25, 'elo': 1092.0000248540236}
Lijiang Tower 151 DAL 967.350468385 BOS 989.460367774 0 2018-01-27 00:00:00
{'date': datetime.datetime(2018, 1, 27, 0, 0), 'team': 'DAL', 'map number': 25, 'elo': 953.30374299006667}
{'date': datetime.datetime(2018, 1, 27, 0, 0), 'team': 'BOS', 'map number': 27, 'elo': 1003.5070931698494}
Lijiang Tower 152 SHD 868.932257205 PHI 981.113443744 0 2018-01-27 00:00:00
{'date': datetime.datetime(2018, 1, 27, 0, 0), 'team': 'SHD', 'map number': 25, 'elo': 858.61393396818903}
{'date': datetime.datetime(2018, 1, 27, 0, 0), 'team': 'PHI', 'map number': 28, 'elo': 991.43176698061234}
Lijiang Tower 153 SEO 1125.98632243 NYE 1092.00002485 0 2018-01-27 00:00:00
{'date': datetime.datetime(2018, 1, 27, 0, 0), 'team': 'SEO', 'map number': 25, 'elo': 1109.5236783096932}
{'date': datetime.datetime(2018, 1, 27, 0, 0), 'team': 'NYE', 'map number': 26, 'elo': 1108.4626689757586}

In [22]:
elo_df.sort_values(by='date',ascending=False).iloc[0]

date          2018-01-27 00:00:00
elo                       1108.46
map number                     26
team                          NYE
Name: 1, dtype: object

In [23]:
elo_df = elo_df.sort_values(by=['date', 'map number'], ascending=False).reset_index(drop=True)

In [52]:
GLA_elo = elo_df[elo_df["team"]=='GLA']

In [53]:
NYE_elo = elo_df[elo_df["team"]=='NYE']

In [54]:
SHD_elo = elo_df[elo_df["team"]=='SHD']
SHD_elo

          date          elo  map number team
16  2018-01-27   858.613934          25  SHD
27  2018-01-27   868.932257          24  SHD
36  2018-01-27   847.661494          23  SHD
43  2018-01-27   824.858746          22  SHD
47  2018-01-27   832.551603          21  SHD
90  2018-01-25   840.800111          20  SHD
97  2018-01-25   814.479801          19  SHD
104 2018-01-25   818.304005          18  SHD
106 2018-01-25   822.283719          17  SHD
119 2018-01-20   826.431163          16  SHD
128 2018-01-20   837.673251          15  SHD
138 2018-01-20   849.922792          14  SHD
147 2018-01-20   863.302513          13  SHD
187 2018-01-18   877.939849          12  SHD
194 2018-01-18   886.520997          11  SHD
201 2018-01-18   896.173520          10  SHD
206 2018-01-18   907.117862           9  SHD
219 2018-01-13   919.616189           8  SHD
231 2018-01-13   933.425423           7  SHD
243 2018-01-13   948.536981           6  SHD
253 2018-01-13   932.244986           5  SHD
280 2018-01-11   947.244986           4  SHD
288 2018-01-11   958.748521           3  SHD
296 2018-01-11   971.291995           2  SHD
304 2018-01-11   985.000000           1  SHD
310 2018-01-01  1000.000000           0  SHD

## Analysis